/* home.module.css */
.container {
    height: 100vh;
    position: relative;
}

.homeInfo {
    position: absolute;
    top: 10px;
    /* or any distance from the top you prefer */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 40rem;
    max-width: 90vw;
}

.canvas {
    height: 100vh;
    background-color: transparent;
    position: relative;
    z-index: 1;
}